# Autosave files
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*

# Derived content-obscured files
*.p

# Compiled MEX files
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Deployable archives
*.ctf

# Generated helpsearch folders
helpsearch*/

# Code generation folders
slprj/
sccprj/
codegen/

# Cache files
*.slxc

# Cloud based storage dotfile
.MATLABDriveTag

# buildtool cache folder
.buildtool/

# SimBiology backup files
*.sbproj.backup
*.sbproj.bak

# Additional files/folders to ignore
*.DS_Store
*.mat
*.prj
*.wav
*.pdf
/Stimuli/*
/DistanceMeasures/texture_stats/_ltfat/
/DistanceMeasures/texture_stats/_minFunc_2012/
/Models/*/_ltfat/
/Models/*/_minFunc_2012/
/resources/

# OSF CLI credentials
.osfcli.config


